div {

}
video{
    width: 100%;
    aspect-ratio: auto;

}
.devs {
    width: 90%;
    box-shadow: 3px 3px 5px 5px #c5c5c5;
    border-radius: 20px;
    position: relative;
    padding: 20px 20px 20px 20px;
    left: 5%;
}