@font-face {
    font-family: "Rubik normal";
    src: url("./../fonts/Rubik/static/Rubik-Light.ttf");
}
.content {
    position: relative;
    padding: 50px 20px 20px 20px;
    font-family: "Rubik normal",sans-serif;
}