@font-face {
    font-family: 'Roboto Slab-Medium';
    src: url("./../fonts/Roboto Slab/RobotoSlab-Medium.ttf");
}

nav{
    background: #f2f1ed;
    top: 0;
    left: 0;
    position: fixed ;
    z-index: 10;
    font-family: "Roboto Slab-Medium",sans-serif;
    overflow: hidden;
}
nav:hover{
    background: #ecebe8;
}
body {
    margin: 0 0 0 0;

}

@media only screen and (min-width: 200px) {
    nav{
        height: 100px;
    }
}

@media only screen and (min-width: 500px){
    nav{
        height: 50px;
        width: 100%;
        font-size: 16px;
        letter-spacing: 1px;
    }
    nav ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: max-content;
        overflow: hidden;
    }
    nav li {
        padding: 0px 10px 0 10px;
        float: left;
        margin-left: 20px;
        position: relative;
        height: 50px;
    }
    nav img {
        width: 50px;
    }
    .link,.link:hover,.link:visited,.link:focus,.link:active{
        text-decoration: none;
        position: relative;
        color: black;
        top: 30%;

    }
    .left_link{
        float: right;
        margin-right: 20px;
        margin-left: 0;

    }

}
