@font-face {
    font-family: 'Roboto Slab-Medium';
    src: url("./../fonts/Roboto Slab/RobotoSlab-Medium.ttf");
}
@font-face {
    font-family: 'Roboto Slab light';
    src: url("./../fonts/Roboto Slab/RobotoSlab-Light.ttf");
}
html,body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100%;
}
.container {
    min-height: 100%;
    position: relative;
}
/*###################### Header and everything with it #########################*/
header {
    width: 100%;
    font-size: 16px;
    letter-spacing: 1px;
    position: fixed ;
    z-index: 10;
    font-family: "Roboto Slab-Medium",sans-serif;
    overflow: hidden;
    background: #f2f1ed;

}
nav:hover{
    background: #ecebe8;
}
nav div {
    display: flex;
    position: sticky;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: max-content;
    overflow: hidden;
}
nav li {
    padding: 0px 10px 0 10px;
    height: 50px;
}
nav img {
    width: 50px;
}
.link,.link:hover,.link:visited,.link:focus,.link:active{
    text-decoration: none;
    position: relative;
    color: black;
    top: 30%;
}
@media only screen and (max-width: 600px) {
    #dropdown li{
    }
    nav div {
        justify-content: center;
        flex-direction: column;

    }
    nav #general_stuff {
        width: 100%;
        margin: 0 0 0 0;
        display: flex;
        justify-content: space-around;
    }
    #general_stuff li:nth-child(1){
        order: 2;
    }
    #general_stuff li:nth-child(2){
        order: 1;
    }
    #general_stuff li:nth-child(3){
        order: 3;
    }
    #general_stuff li:nth-child(3){
        order: 3;
    }
    #dropdown {
        display: none;
    }
    nav .dropdown_nav {
        display: flex;
        min-height: 30px;
        flex-direction: column;
    }
    .dropdown_nav span {
        display: flex;
        justify-content: center;
    }
    .dropdown_nav:hover>#dropdown{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (min-width: 600px) {
    nav div {
        flex-direction: row;
        justify-content: space-between;
    }
    nav #general_stuff {
        display: flex;
        justify-content: left;
    }
    nav #general_stuff li {
        margin: 0 0 0 30px;
    }
    nav #dropdown {
        display: flex;
        justify-content: right;
    }
    nav #dropdown {
        margin: 0 30px 0 0;
    }
    .dropdown_nav svg {
        display: none;
    }
}
/*###################### Main Section #########################*/
main {
    padding-bottom: 200px;
}
/*###################### All footer settings #########################*/
footer {
    font-family: "Roboto Slab-Medium",sans-serif;
    clear: both;
    background: #1d1d1d;
    background-image: radial-gradient(#343434,#1d1d1d);
    position: absolute;
    padding: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    border-bottom: 3px solid #1d1d1d;

}
footer hr {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 2px solid #6e6e6e;
}
.footer {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-around;
}
.footer span{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
footer a,footer a:hover,footer a:visited,footer a:active, footer a:focus {
    text-decoration: none;
    color: #c3c3c3;
}

.footer_marken{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .footer_marken{
        width: 80%;
    }
}