nav{
    background: #f2f1ed;
    top: 0;
    left: 0px;
    position: fixed ;
    display: flex;
    height: 50px;
    width: 100%;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;

}
nav img {
    position: relative;
    width: 50px;
}
nav a,a:hover,a:visited,a:focus,a:active{
    left: 10px;
    vertical-align: center;
    height: 100%;
    position: relative;
    text-decoration: none;
    color: black;
}
